@charset "gb2312";
/* CSS Document */
* { margin: 0; padding: 0 }
a:link, a:visited { text-decoration: none; }
ul, li { list-style-type: none }
img { border: 0; }
body { font-size: 12px; background: #226039 url(images/together.png) center 0 scroll no-repeat; color: #5d5d5d; }
.blank { height: 5px; overflow: hidden; width: 100%; margin: auto; clear: both }
/* header */
header { width: 100%; margin: auto; border-bottom: #3c7a48 1px solid }
.quotes { width: 1000px; height: 140px; position: relative; margin: 60px auto 120px auto; }
.quotes p { text-shadow: #246640 1px 1px 1px; color: #fff; width: 330px; line-height: 26px;}
.title-text { position: absolute; left: 42%; top: 20px; font-family: "微软雅黑"; font-size: 30px; color: #FFF; -webkit-box-reflect: below -3px -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(white)); }/* below文字倒影方向向下，距离3px 颜色渐变由上往下 */
.flower { position: absolute; right: 30%; top: 110px; background: url(images/flower.png) no-repeat; width: 173px; height: 175px; z-index: 2 }
.flower img { margin: 15px 0 0 17px; display: block; width:100px ; height: 80px;}
.flower p { margin: 5px 0 0 20px; display: block; width:100px ; height: 80px; font-family: "微软雅黑"; font-size: 20px;color: #444444;text-align:center}
.photo-text { position: absolute; left: 48.5%; top: 160px; font-family: "微软雅黑"; font-size: 30px; color: #FFF; -webkit-box-reflect: below -3px -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(white)); }/* below文字倒影方向向下，距离3px 颜色渐变由上往下 */
.flower-boy { position: absolute; left: 33%; top: 110px; background: url(images/flower.png) no-repeat; width: 173px; height: 175px; z-index: 2 }
.flower-boy img { margin: 15px 0 0 17px; display: block; width:100px ; height: 80px;}
.flower-boy p { margin: 5px 0 0 20px; display: block; width:100px ; height: 80px; font-family: "微软雅黑"; font-size: 20px;color: #444444;}
#nav { width: 100%; line-height: 50px; height: 50px; font-family: "微软雅黑"; font-size: 16px; background: rgba(56,134,72,.8); text-align: center; position: relative; border-bottom: #559765 1px solid }
#nav ul li { display: inline; margin: 0 12px; text-align: center; }
#nav ul li a { color: #fff; }
/* photowall */
.photowall { width: 100%; background: #559664; padding: 30px 0; overflow: hidden; border-bottom: #226039 1px solid }
.photowall img { display: block; opacity: 0.9; -webkit-transition: opacity 0.35s; transition: opacity 0.35s; }
.wall_a { width: 1000px; margin: auto; background: #fafcfa; overflow: hidden }
.wall_a li { float: left; position: relative; }
.wall_a li p a { color: #686868 }
.text_a { width: 220px; line-height: 24px; padding: 30px 20px }
.text_b { width: 164px; line-height: 24px; padding: 40px 20px }
.text_timer { width: 164px; line-height: 40px; padding: 30px 20px; font-size:30px }
.text_timerGo { width: 200px; line-height: 40px; padding: 30px 20px; font-size:30px }
.timer b {  color: rgb(253, 99, 125); }
.wall_a li figcaption { position: absolute; left: 0; top: 10px; }
.wall_a li h2 { font-size: 12px; line-height: 24px; padding: 20px; font-weight: normal; opacity: 0; -webkit-transition: opacity 0.35s, -webkit-transform 0.35s; transition: opacity 0.35s, transform 0.35s; -webkit-transform: scale(0); transform: scale(0); color: #666 }
.wall_a li:hover h2 { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
.wall_a li:hover img { opacity: 0.4; }
/* content */
.content { width: 100%; background: #fff; padding: 20px 0; overflow: hidden; min-height:472px }
.content ul { width: 1000px; margin: auto; line-height: 24px }
.content_boy,.content_girl { width: 50%; background: #fff; padding: 20px 0; overflow: hidden;float: left }
.content_boy ul ,.content_girl ul{ width: 100%; margin: auto; line-height: 24px }
.content_boy a:hover {color:#FFF;background:#358BFA;text-decoration:none;}
.content_boy a{color:#FFF;}
.content_girl a:hover {color:#000;background:#358BFA;text-decoration:none;}
.content_girl a{color:#000;}
.content_boy span img, .content_girl span img { width: 40px; height: 40px; border-radius: 100% }
.boy_photo{ float: left; margin-right: 10px }
.entry { margin: 5px; background: #559664; color: #FFF; float: left; padding: 20px; width: 75%; border-radius: 6px; position: relative; box-shadow: inset #226039 -1px -1px 1px; text-shadow: #226039 1px 1px 0px }
.entry p {margin-bottom:10px;}
.entry ol {padding-left:15px;margin-bottom:15px;}
.entry ol li {list-style:decimal;}
.entry ul {padding-left:15px;margin-bottom:15px;}
.entry ul li {list-style:disc;}
.entry img	{max-width:380px;height:auto;width:expression(this.width > 380 ? "380px" : this.width); /**用来在IE中自动缩放这里用来缩小首页面的图片的。**/}
.girl_photo { float: right; margin-left: 10px }
.entry-girl { margin: 5px; background: #ececec; color: #444; float: right; padding: 20px; width: 75%; border-radius: 6px; position: relative; box-shadow: inset #999 1px -1px 1px; text-shadow: #fff 1px 1px 0px }
.entry-girl p {margin-bottom:10px;}
.entry-girl ol {padding-left:15px;margin-bottom:15px;}
.entry-girl ol li {list-style:decimal;}
.entry-girl ul {padding-left:15px;margin-bottom:15px;}
.entry-girl ul li {list-style:disc;}
.entry-girl img	{max-width:380px;height:auto;width:expression(this.width > 380 ? "380px" : this.width); /**用来在IE中自动缩放这里用来缩小首页面的图片的。**/}

/* paged */
.nav-blue{overflow:hidden;width:100%;text-align:center;vertical-align:bottom}
.nav-blue a{height:36px;border:1px solid #DDD;-webkit-border-radius:12px;-moz-border-radius:12px;border-radius:12px;color:#888;text-decoration:none;line-height:36px;margin:2px;padding:3px 8px}
.nav-blue span{height:36px;border:1px solid #226039;-webkit-border-radius:12px;-moz-border-radius:12px;border-radius:12px;color:#559664;text-decoration:none;line-height:36px;margin:2px;padding:3px 8px}
.nav-blue a:hover,.nav-blue a.current{border:1px solid #FFBB76;color:#FF7200;font-weight:bolder}

/* blog */
.blog{ width:1000px; margin: 30px auto; overflow:hidden}
.blog figure{ background:#ececec; border:#FFF 10px solid; width:300px; height:430px; float:left;margin: 0 5px;}
.blog figure img{ display:block; margin: 0 auto 20px}
.blog figure p{ font-size:14px;  text-shadow: #fff 1px 1px 0px; line-height:26px; text-align:center; font-weight:bold}
.blog figure p a{color:#226039;}
.blog figure figcaption{ padding:10px; line-height:22px; color:#666}

/*tool*/
.tool{ border-top:50px #559664 solid; padding:20px; color:#FFF; font-family: "微软雅黑"; font-size: 16px;}
.footer-widgets { width: 100%; padding: 20px 0; overflow: hidden;}
.footer-widgets ul{ width: 1000px; margin: auto; line-height: 30px }

/*widget*/
.widget_archive,.widget_categories,.widget_meta, .widget_nav_menu, .widget_pages, .widget_recent_comments, .widget_recent_entries,.widget_rss {width: 333px; float: left;}
a{color:#FFF;}
a:hover, a.current{border:1px solid #FFBB76;color:#559664;font-weight:bolder}
.widget_archive,.widget_categories,.widget_meta, .widget_nav_menu, .widget_pages, .widget_recent_comments, .widget_recent_entries, .widget_rss h2{ color:#d2ec40; font-size:16px; font-weight:bold}
.widget_calendar .calendar_wrap {width: 333px; float: left;}
.widget_calendar .calendar_wrap a{color:#559765;}
.widget_calendar .calendar_wrap table{margin: auto;}
.widget_calendar .calendar_wrap caption{ color:#d2ec40; font-size:14px; font-weight:bold}
.widget_calendar .calendar_wrap tr{border-bottom:#fff solid 1px;}
.widget_calendar .calendar_wrap td{width: 30px}
.widget_search {width: 333px; float: left;}
.widget_search h2{ color:#d2ec40; font-size:20px; font-weight:bold}
.widget_search input[type="text"]{height:36px;border:1px solid #226039;-webkit-border-radius:12px;-moz-border-radius:12px;border-radius:12px;color:#559664;text-decoration:none;line-height:36px;margin:2px;padding:3px 8px}
.widget_search input[type="submit"]{height:44px;border:1px solid #226039;-webkit-border-radius:12px;-moz-border-radius:12px;border-radius:12px;color:#559664;text-decoration:none;line-height:36px;margin:2px;padding:3px 8px}

/*footer*/
footer{ background:#032e13; height:56px; line-height:56px;}
footer p{ width:1000px; margin:auto; text-align:center;color:#559664 }
footer p a{color:#559664}
footer p a:hover{ text-decoration:underline}